/*
01. Helpers
02. Logo
03. Header
04. Description
05. Section
06. Digits
07. Table
08. Feynman
09. Kayfman
10. Footer
*/

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Helpers =====================================*/
/* div, li, h3, h2 { border: 1px solid red; } */

.span-accent {
  font-weight: 700;
}

/* Logo ========================================*/
.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  background: url(../images/logo_place_header.svg) no-repeat center / cover;
}

.logo_place_footer {
  height: 35px;
  background: url(../images/logo_place_footer.svg) no-repeat center / cover;
}

/* Header ======================================*/
.header {
  margin-bottom: 100px;

  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}

.header__title {
  width: 730px;
  position: relative;
  top: auto;
  left: 64px;
  z-index: 2;

  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
}

.header__subtitle {
  /* display: block; */
  margin: 0;
  position: absolute;
  bottom: 34px;
  left: 64px;
  z-index: 2;

  width: 388px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  width: 765px;
  height: 608px;

  background: url(../images/header-image.png) no-repeat center / cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;

  height: 568px;
  width: 568px;

  background-color: #2f80ed;
}

/* Description =================================*/
.description {
  margin-bottom: 100px;

  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

/* Section =====================================*/
.section-title {
  margin: 0 0 20px;
  width: 60%;
  z-index: 2;

  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  z-index: 2;

  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.section-subtitle_theme_dark {
  color: #fff;
}

/* Digits ======================================*/
.digits {
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table =======================================*/
.table {
  width: 1100px;
}

.table_theme_dark {
  z-index: 2;
}

.table__row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  margin: 0 0 20px;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.table__text_theme_dark {
  color: #fff;
}

.table__text:last-of-type {
  margin: 0;
}

/* Feynman =====================================*/
.feynman {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat 0 101%;
}

.feynman__title {
  margin: 100px 0 70px;
  width: 648px;

  font-size: 120px;
  line-height: 1.15;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.feynman__link {
  display: block;
  position: absolute;
  top: 50%;
  right: 48px;

  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  text-decoration: underline;
}

/* Kayfman =====================================*/
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  background: url(../images/kaufman-triangle.svg) no-repeat center / cover;
}

/* Footer ======================================*/
.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
}

.footer__column {
  /* обязательно */
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  /* обязательно */
}

.footer__column_content_social {
  /* обязательно */
}

.footer__author {
  /* margin: 18px 0; */

  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin: 0 0 16px;

  list-style: none;
  padding: 0;

  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__social-icon {
  margin-right: 10px;
}
